<template>
  <div class="small-container">
    <p>
      A continuación se pueden configurar los parámetros del modelo
      Viscoelástico sin Endurecimiento.
    </p>

    <initial-data-form @update:setup="updateSetup"></initial-data-form>
    <transition name="fade">
      <div v-if="ready">
        <h4>Tensión - Tiempo</h4>
        <vue-plotly :data="data" :layout="layouts" :options="options" />
        <h4>Deformación - Tiempo</h4>
        <vue-plotly :data="dataTwo" :layout="layoutsTwo" :options="options" />
        <h4>Tensión - Deformación</h4>
        <vue-plotly
          :data="dataThree"
          :layout="layoutsThree"
          :options="options"
        />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import VuePlotly from '@statnett/vue-plotly';
import InitialDataForm from './InitialDataForm.vue';
import { range, sum } from 'lodash';

@Component({
  components: {
    VuePlotly,
    InitialDataForm,
  },
})
export default class Bingham extends Vue {
  public data: Array<{ x: number[]; y: number[] }>;
  public dataTwo: Array<{ x: number[]; y: number[] }>;
  public dataThree: Array<{ x: number[]; y: number[] }>;
  public layouts: {};
  public layoutsTwo: {};
  public layoutsThree: {};
  public options: {};
  public E: number;
  public N: number;
  public times: { initial: number; final: number };
  public deformations: { initial: number; final: number; step: number };
  public ready: boolean;
  constructor() {
    super();
    this.data = [{ x: [], y: [] }];
    this.dataTwo = [{ x: [], y: [] }];
    this.dataThree = [{ x: [], y: [] }];
    this.layouts = {};
    this.layoutsTwo = {};
    this.layoutsThree = {};
    this.options = { autoResize: true };
    this.E = 10;
    this.N = 10;
    this.times = {
      initial: 0,
      final: 0,
    };
    this.deformations = {
      initial: 0,
      final: 0.5,
      step: 0.05,
    };
    this.ready = false;
  }

  public updateSetup(setupData: any) {
    this.E = setupData.E;
    this.N = setupData.N;
    this.deformations = setupData.deformations;
    this.times = setupData.times;
    this.bingHam();
    this.ready = true;
  }

  public bingHam(): void {
    //  Setup
    const E = this.E;
    const N = this.N;
    const deformation: number[] = range(
      this.deformations.initial,
      this.deformations.final,
      this.deformations.step
    );
    const times = {
      initial: this.times.initial,
      final: this.times.final,
    };
    const dt = (times.final - times.initial) / (deformation.length - 1);
    const time: number[] = range(times.initial, times.final, dt);
    time.push(times.final);

    let strain_speed = this.deformations.final / this.times.final;
    let sigma: number[] = time.map((t: number, index: number) => {
      if (t == 0) {
        return deformation[index] * N;
      }
      return +((deformation[index] * N) / t).toFixed(1);
    });

    this.data[0].x = time;
    this.data[0].y = sigma;

    this.dataTwo[0].x = time;
    this.dataTwo[0].y = deformation;

    this.dataThree[0].x = deformation;
    this.dataThree[0].y = sigma;
    return;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
h4 {
  margin: 0 4rem;
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
p {
  text-align: left;
}
.right-aligned {
  text-align: right;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
