<template>
  <div id="branch-form">
    <form @submit.prevent="handleSubmit">
      <label>Módulo Elástico de la Rama</label>
      <input type="text" v-model.number="branch.E" required>
      <label>Tiempo Intrínseco de la Rama</label>
      <input type="text" v-model.number="branch.tau" required>
      <button>Añadir Rama</button>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'branch-form',
  data() {
    return {
      lastId: 0,
      branch: {
        E: 10,
        tau: 1,
      },
    };
  },
  methods: {
    handleSubmit() {
      this.$emit('add:branch', { ...this.branch, id: this.lastId++ });
    },
  },
});
</script>

<style lang="scss" scoped>
form {
  text-align: left;
  margin-bottom: 2rem;
}
</style>
