<template>
  <div class="small-container">
    <p>
      A continuación se pueden configurar los parámetros del modelo Maxwell
      generalizado para n ramas el cual representa el fenómeno viscoelástico.
    </p>

    <initial-data-form @update:setup="updateSetup"></initial-data-form>
    <transition name="fade">
      <div v-if="ready">
        <branch-form @add:branch="addBranch"></branch-form>
        <p class="right-aligned">Número de Ramas: {{ branches.length }}</p>
        <table v-if="branches.length">
          <thead>
            <tr>
              <th>Rama</th>
              <th>Módulo de elásticidad</th>
              <th>Tiempo intrínseco</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(branch, index) of branches" :key="branch.id">
              <td>{{ index }}</td>
              <td>{{ branch.E }}</td>
              <td>{{ branch.tau }}</td>
              <td>
                <button class="accent-button" @click="deleteBranch(branch.id)">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <h4>Tensión - Tiempo</h4>
        <vue-plotly :data="data" :layout="layouts" :options="options" />
        <h4>Deformación - Tiempo</h4>
        <vue-plotly
          :data="dataTwo"
          :layout="layoutsTwo"
          :options="optionsTwo"
        />
        <h4>Tensión - Deformación</h4>
        <vue-plotly
          :data="dataThree"
          :layout="layoutsThree"
          :options="optionsThree"
        />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import VuePlotly from '@statnett/vue-plotly';
import BranchForm from './BranchForm.vue';
import InitialDataForm from './InitialDataForm.vue';
import { range, sum } from 'lodash';

@Component({
  components: {
    VuePlotly,
    BranchForm,
    InitialDataForm,
  },
})
export default class Maxwell extends Vue {
  public data: Array<{ x: number[]; y: number[] }>;
  public dataTwo: Array<{ x: number[]; y: number[] }>;
  public dataThree: Array<{ x: number[]; y: number[] }>;
  public layouts: {};
  public layoutsTwo: {};
  public layoutsThree: {};
  public options: {};
  public optionsTwo: {};
  public optionsThree: {};
  public branches: Array<{ id: number; E: number; tau: number }> = [];
  public mu0: number;
  public times: { initial: number; final: number };
  public deformations: { initial: number; final: number; step: number };
  public ready: boolean;
  constructor() {
    super();
    this.data = [{ x: [], y: [] }];
    this.dataTwo = [{ x: [], y: [] }];
    this.dataThree = [{ x: [], y: [] }];
    this.layouts = {};
    this.layoutsTwo = {};
    this.layoutsThree = {};
    this.options = { autoResize: true };
    this.optionsTwo = { autoResize: true };
    this.optionsThree = { autoResize: true };
    this.mu0 = 10;
    this.times = {
      initial: 0,
      final: 0,
    };
    this.deformations = {
      initial: 0,
      final: 0.5,
      step: 0.05,
    };
    this.ready = false;
  }

  public addBranch(branch: { id: number; E: number; tau: number }) {
    this.branches = [...this.branches, branch];
    this.maxwellGeneralizado();
  }

  public deleteBranch(id: number) {
    this.branches = this.branches.filter((branch) => branch.id !== id);
    this.maxwellGeneralizado();
  }

  public updateSetup(setupData: any) {
    this.mu0 = setupData.mu0;
    this.deformations = setupData.deformations;
    this.times = setupData.times;
    this.maxwellGeneralizado();
    this.ready = true;
  }

  public maxwellGeneralizado() {
    // setup variables
    const mu0 = this.mu0;
    const branchesAmount = this.branches.length;
    const times = {
      initial: this.times.initial,
      final: this.times.final,
    };
    const deformation: number[] = range(
      this.deformations.initial,
      this.deformations.final,
      this.deformations.step
    );
    deformation.push(this.deformations.final);
    deformation[0] = 0;
    // Preprocessing
    const mu = this.branches.map((branch) => {
      return branch.E;
    });
    const gamma = this.branches.map((branch) => {
      return branch.E / mu0;
    });
    const tau = this.branches.map((branch) => {
      return branch.tau;
    });
    const dt = (times.final - times.initial) / (deformation.length - 1);
    const time: number[] = range(times.initial, times.final, dt);
    time.push(times.final);
    const sigma0 = deformation.map((def: number) => {
      return mu0 * def;
    });
    const h: number[][] = new Array(time.length);
    for (let i = 0; i < h.length; i++) {
      h[i] = new Array(branchesAmount);
      h[i].fill(0.1);
    }
    const sigma = [];
    const sumH = [];
    sigma[0] = 0;
    // Solution
    for (let i = 1; i < time.length; i++) {
      for (let j = 0; j < branchesAmount; j++) {
        h[i][j] =
          Math.pow(Math.E, -dt / tau[j]) * h[i - 1][j] +
          gamma[j] *
            ((1 - Math.pow(Math.E, -dt / tau[j])) / (dt / tau[j])) *
            (sigma0[i] - sigma0[i - 1]);
      }
      sigma[i] = mu0 * deformation[i] + sum(h[i]);
    }
    this.data[0].x = time;
    this.data[0].y = sigma;

    this.dataTwo[0].x = time;
    this.dataTwo[0].y = deformation;

    this.dataThree[0].x = deformation;
    this.dataThree[0].y = sigma;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
h4 {
  margin: 0 4rem;
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
p {
  text-align: left;
}
.right-aligned {
  text-align: right;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
