<template>
  <div>
    <form @submit.prevent="handleSubmit">
      <label>Viscoelasticodad Cinematica</label>
      <input type="text" v-model.number="setupData.mu0" required />
      <label
        >Rango de deformaciones (Notación Octave => inicial:paso:final)</label
      >
      <input type="text" v-model.trim="deformationRange" required />
      <label>Tiempo Inicial y Final (Notación Octave => inicial:final)</label>
      <input type="text" v-model.trim="timeRange" required />
      <button>Setup</button>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'initial-data-form',
  data() {
    return {
      deformationRange: '0:0.05:0.5',
      timeRange: '0:1',
      setupData: {
        mu0: 10,
        deformations: {
          initial: 0,
          final: 0.5,
          step: 0.05,
        },

        times: {
          initial: 0,
          final: 1,
        },
      },
    };
  },
  methods: {
    handleSubmit() {
      const deformationRangeArray = this.deformationRange.split(':');
      this.setupData.deformations.initial = +deformationRangeArray[0];
      this.setupData.deformations.final = +deformationRangeArray[2];
      this.setupData.deformations.step = +deformationRangeArray[1];
      const timesArray = this.timeRange.split(':');
      this.setupData.times.initial = +timesArray[0];
      this.setupData.times.final = +timesArray[1];
      this.$emit('update:setup', this.setupData);
    },
  },
});
</script>
<style lang="scss"></style>
