<template>
  <div id="app">
    <div class="small-container">
      <h1>Materiales</h1>
      <p>
        Proyecto Final de la cátedra Materiales de la Universidad Nacional de
        Cuyo por Agustín Marinsalda Pastor
      </p>
      <br />
      <form @submit.prevent="">
        <label>Modelo Viscoelastico</label>
        <select name="method" v-model="method">
          <option value="maxwell" selected>Maxwell</option>
          <option value="bingham">Bingham</option>
          <option value="ve">Viscoelástico sin Endurecimiento</option>
          <option value="vehardening">Viscoelástico con Endurecimiento</option>
        </select>
        <button>Elegir</button>
      </form>
    </div>
    <br />
    <br />
    <transition name="fade" mode="out-in">
      <Maxwell v-if="method == 'maxwell'" />
      <Bingham v-if="method == 'bingham'" />
      <VE v-if="method == 've'" />
      <VEHardening v-if="method == 'vehardening'" />
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Maxwell from './components/Maxwell/Maxwell.vue';
import Bingham from './components/Bingham/Bingham.vue';
import VE from './components/VE/VE.vue';
import VEHardening from './components/VEHardening/VEHardening.vue';

@Component({
  components: {
    Maxwell,
    Bingham,
    VE,
    VEHardening,
  },
})
export default class App extends Vue {
  public method: string = 'maxwell';
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
